@model Diary.Web.Models.Note.NoteModel

@{
    ViewBag.Title = "Note";
}

<div class="row note-row">
    <div class="col-md-6 col-md-offset-3 note-block">
        <h2>@Model.Title</h2>
        <div>
            <span class="creation-date">@Model.CreationTime</span>
            @if (Model.Deletable)
            {
                @Html.ActionLink(" (delete)", "DeleteNote", "Notes", new { noteId = Model.Id }, new { @class = "link-delete" })
            }
        </div>

        @if (Model.WithPicture)
        {
            <a href="@Model.PathToPicture">
                <img id="note-pic" class="img-rounded img-responsive" src='@Url.Content("~/Content/img/dummy.png")' alt="" />
            </a>
        }

        @*@if (Model.Picture != null)
            {
                <a href ="@Model.PathToPicture">
                    @Html.Raw("<img class='img-rounded img-responsive' src=\"data:" + @Model.Picture.MIME + ";base64,"
                              + Convert.ToBase64String(@Model.Picture.Image) + "\" alt=" + @Model.Picture.Name + " />")
                </a>
            }*@
        <div class="note-text">@Model.Text</div>
    </div>
</div>

@section scripts
{
    @if (@Model.WithPicture)
    {
        @Scripts.Render("~/bundles/ajax-img-loader")
    }
}
